@import "tailwindcss";


.menu li .active{
 /* padding (px-4 py-2) */
  padding: 0.5rem 1rem;

  /* rounded-lg */
  border-radius: 0.5rem;

  /* font-medium */
  font-weight: 500;



  /* bg-gradient-to-r from-orange-500 to-red-500 */
  background: linear-gradient(to right, #f97316, #ef4444);

  /* text-white */
  color: white;

  /* shadow-md */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

}